<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="poly.edu.vn.dat_lich_kham_benh_online">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission
        android:name="android.permission.MEDIA_CONTENT_CONTROL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MANAGE_MEDIA"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dat_lich_kham_benh_online"
        tools:targetApi="31">
        <activity
            android:name=".ComfirmOrderActivity"
            android:exported="false" />
        <activity
            android:name=".OrderActivity"
            android:exported="false" />
        <activity
            android:name=".ListDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".FileActivity"
            android:exported="false" />
        <activity
            android:name=".AddFileActivity"
            android:exported="false" />
        <activity
            android:name=".ManagerTimeWorkDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ManagerTimeWorkActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateServiceActivity"
            android:exported="false" />
        <activity
            android:name=".AddDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".AddSerivceActivity"
            android:exported="false" />
        <activity
            android:name=".ManagerServiceActivity"
            android:exported="false" />
        <activity
            android:name=".ManagerCategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".ManagerRoomsActivity"
            android:exported="false" />
        <activity
            android:name=".ManagerDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".ProFileUserActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>